<html xmlns:th="http://www.thymeleaf.org" lang="en">
<header>
    <head th:fragment="header">
        <meta charset="UTF-8">
        <title>管理</title>
        <script src="/vue/vue.min.js"></script>
        <!-- 引入样式 -->
        <link rel="stylesheet" href="/element/index.css">
        <!-- 引入组件库 -->
        <script src="/element/index.js"></script>
        <link rel="stylesheet" href="/css/reset.css">
        <style>
            #app{
                height: 100%;
            }
        </style>
    </head>
</header>